<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"] - Voyage</title>
    <meta charset="utf-8">
    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    @* @Styles.Render("~/Content/css")*@
    <link href="~/ClientFiles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/ClientFiles/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/ClientFiles/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/ClientFiles/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/ClientFiles/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="~/ClientFiles/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/ClientFiles/vendor/aos/aos.css" rel="stylesheet">

    <link href="~/Content/Client/style.css" rel="stylesheet">
    <link href="~/Content/Client/DatePicker.css" rel="stylesheet">


</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">Voyageur</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>

                    @if (ViewBag.SlectedView == "Home")
                    {
                        <li class="active"><a href="@Url.Action("Index", "Home")">Accueil</a></li> }
                    else
                    {
                         <li><a href="@Url.Action("Index", "Home")">Accueil</a></li>
                    }
                    @if (ViewBag.SlectedView == "Offre")
                    {
                         <li class="active"><a href="@Url.Action("Index", "Offre")">Offre</a></li>
                     }
                    else
                    {
                            <li><a href="@Url.Action("Index", "Offre")">Offre</a></li>
                    }
                    @if (ViewBag.SlectedView == "Reservation")
                    {
                             <li class="active"><a href="@Url.Action("Index", "Reservation")">Mes reservation</a></li>
                     }
                     else
                      {
                <li><a href="@Url.Action("Index", "Reservation")">Mes reservation</a></li>
                    }
                    
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Serenity</h3>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
                            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </footer><!-- End Footer -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



    <script src="~/ClientFiles/vendor/jquery/jquery.min.js"></script>
    <script src="~/ClientFiles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/ClientFiles/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/ClientFiles/vendor/php-email-form/validate.js"></script>
    <script src="~/ClientFiles/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/ClientFiles/vendor/counterup/counterup.min.js"></script>
    <script src="~/ClientFiles/vendor/venobox/venobox.min.js"></script>
    <script src="~/ClientFiles/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/ClientFiles/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/ClientFiles/vendor/aos/aos.js"></script>

    <script src="~/Scripts/Client/js/main.js"></script>

    <!-- Template Main JS File
    <script src="js/main.js"></script> -->
    @*    @Scripts.Render("~/bundles/Script")
        @RenderSection("scripts", required: false)*@
</body>
</html>