
@{
    ViewBag.Title = "Offre";
}

@model List<Voyageur.Models.Ville>

<link href="~/ClientFiles/vendor/select2/select2.min.css" rel="stylesheet" media="all">

<link href="~/ClientFiles/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="~/Content/Client/main.css" rel="stylesheet" media="all">
<!-- ======= Portfolio Section ======= -->
<main id="main">
    <section id="portfolio" class="portfolio">

        <div class="container">

           
            <div class="row portfolio-container" data-aos="fade-up">

               @foreach (Voyageur.Models.trajet item in ViewBag.Trajet)
                {
                    ViewBag.isRes = false;
                    if (ViewBag.Reservation != null)
                    {
                        foreach (Voyageur.Models.Reservation res in ViewBag.Reservation)
                        {
                            if (item.id == res.Id)
                            {
                                ViewBag.isRes = true;
                                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                    <div class="portfolio-wrap" style="        padding: 10px;
        background: #e86e26;
        box-shadow: 0 10px 20px 0 #94c045;
        border-radius: 15px;">
                                        <div class="row " style="margin:0px !important;">
                                            <div class="col">
                                                <div class="row" style=" font-weight: bold; font-size: medium;">@item.Ville.nom - @item.Ville1.nom</div>
                                                <div class="row">Depart : @item.date_depart.ToString()</div>
                                                <div class="row">Arriver : @item.date_arrivée.ToString()</div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="row"> <i class="icofont-ui-wifi"></i></div>
                                                <div class="row"><i class="icofont-computer"></i></div>
                                                <div class="row"> <i class="icofont-snow-alt"></i></div>
                                                <div class="row"> <img src="https://img.icons8.com/dotty/20/000000/wc.png"></div>
                                            </div>
                                            <div style=" color: white; align-self: center; font-weight: 800;">
                                                @item.prix DH
                                            </div>
                                        </div>
                                        <div class="portfolio-info">
                                            <div class="portfolio-links">
                                                <a href="Offre/Annulation/@item.id"><i class="bx bx-plus"></i> Annuler :( </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    }
                    if(ViewBag.isRes == false)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap" style=" padding: 10px; background: #94c045;box-shadow: 0 10px 20px 0 #94c045;border-radius: 15px;">
                                <div class="row " style="margin:0px !important;">
                                    <div class="col">
                                        <div class="row" style=" font-weight: bold; font-size: medium;">@item.Ville.nom - @item.Ville1.nom</div>
                                        <div class="row">Depart : @item.date_depart.ToString()</div>
                                        <div class="row">Arriver : @item.date_arrivée.ToString()</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="row"> <i class="icofont-ui-wifi"></i></div>
                                        <div class="row"><i class="icofont-computer"></i></div>
                                        <div class="row"> <i class="icofont-snow-alt"></i></div>
                                        <div class="row"> <img src="https://img.icons8.com/dotty/20/000000/wc.png"></div>
                                    </div>
                                    <div style=" color: white; align-self: center; font-weight: 800;">
                                        @item.prix DH
                                    </div>
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-links">
                                        @if (Session["Auth"] != null && (bool)Session["Auth"] == true)
                                        {
                                            <a href="@Url.Action("Reserver", "Offre" , new { id = item.id })"><i class="bx bx-plus"></i> Reserver </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "Home")">-_- Connectez-vous </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section><!-- End Portfolio Section -->
</main>

<script src="~/ClientFiles/vendor/jquery/jquery.min.js"></script>

<script src="~/Scripts/Client/DatePicker.js"></script>
<script src="~/ClientFiles/vendor/select2/select2.min.js"></script>

<script src="~/Scripts/Client/js/global.js"></script>